# editorconfig.org
 root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true #每个文件以空白行结尾
trim_trailing_whitespace = false #去除空白行中的空白字符

[*.md]
trim_trailing_whitespace = false